<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="/">홈</a>
    <h1>회원목록</h1>
        <% for(let i = 0; i < users.length; i++) 
        {%>
    <p>id : <%=users[i].id %></p>
    <p>password : <%=users[i].password %></p>
    <% } %>
</body>

</html>